body {
    margin: 0px;
    background: 
        linear-gradient(to top, to right, transparent, #EBE5FC),
        linear-gradient(to top, to left, transparent, #D9D0F6),
        linear-gradient(to bottom, to left, transparent, #C6BAEE),
        linear-gradient(to bottom, to right, transition, #B2A3E4);        
}

.logo {
    font-size: 32px;
    color: red;
    font-family: consolas;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
}

header {
    background: linear-gradient(to top, #EBE5FC, #D9D0F6);
    display: flex;
    padding-left: 30px;
}

footer {
    background: linear-gradient(to bottom, #B2A3E4, #9E8CD7);
    height: 100px;
}
