body {
    margin: 0px;
    background: linear-gradient(to bottom, #D9D0F6, #B2A3E4);
}

* {
    font-family: jost;
    font-weight: 200;
}

.logo {
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    height: 30px;
}

header {
    background: linear-gradient(to top, #EBE5FC, #D9D0F6);
    display: flex;
    padding-left: 30px;
    border-bottom: 1px solid white;
    padding: 15px;
}

footer {
    background: linear-gradient(to bottom, #B2A3E4, #9E8CD7);
    height: 100px;
    border-top: 1px solid white;
}

.top-title {
    background: linear-gradient(to top left, #A9EFA2, #BFF5B9);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
